body,
html {
    width: 85%;
    height: 100%;
    margin: 0px;
}

header {
    z-index: 1;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
}

.navBar {
    align-content: center;
    display: inline-flex;
    height: 3.125em;
}

.logo {
    padding-left: 20px;
    width: 60px;
}

button.subBtn {
    float: left;
    width: 140px;
    height: 30px;
    border: 1px solid rgb(2, 36, 49);
    border-radius: 5px;
    color: rgb(238, 233, 233);
    position: relative;
    background-color: rgb(22, 72, 92);
    padding: center;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 17px;
}

.rectangle {
    height: 50px;
    width: 2px;
    margin-top: 8px;
    margin-left: 40px;
    border-radius: 25%;
    float: center;
    /*
  NOTE: color ye kar dena, abhi ke liye visiblity reasons ki wajah se dark daal rahe h
  background-color: #7e79796c; 
  */
    background-color:#b8acac6c;
}

.btn1 {
    position: relative;
    margin-left: 2vw;
    margin-top: 1.5vh;
    /*
    color: rgb(181, 178, 178); */
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    display: block;
    text-align: center;
    padding: 18px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 16px;
    color: whitesmoke;
}

a.btn1::before {
    margin-bottom: -17px;
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #fff;
    color: #fff;
    text-decoration-color: #fff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a.btn1:hover::before {
    color: #fff;
    transform-origin: left;
    transform: scaleX(1);
}

.searchIcon {}

.login {}

.imgBg {
    z-index: -1.0;
    background-image: url("tmkoc.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
}

.logoText {}

.subText {}

.lowerBtns {
    padding-left: 120px;
    padding-top: 500px;
}

.btn2 {
    font-size: 15px;
    float: left;
    width: 110px;
    height: 55px;
    border: 0px solid rgb(14, 13, 13);
    border-radius: 0;
    background-color: transparent;
    color: #fff;
    position: relative;
}

.btn3 {
    font-size: larger;
    font-weight: bold;
    float: left;
    width: 148px;
    height: 42px;
    border: 0px solid rgb(14, 13, 13);
    border-radius: 14px;
    color: rgb(14, 13, 13);
    margin-left: 20px;
    position: relative;
}

.btn4 {
    float: left;
    width: 100px;
    height: 41px;
    border: 0px solid rgb(14, 13, 13);
    background-color: transparent;
    border-radius: 5px;
    color: #fff;
    position: relative;
}