body,
html {
    height: 100%;
    margin: 0;
}

.navBar {
    background-color: rgba(56, 56, 94, 0.37);
    height: 70px;
    width: 100%;
    position: fixed;
}

.logoText {
    text-decoration: none;
    font-size: 30px;
    color: whitesmoke;
    font-family: Helvetica, sans-serif;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
}

span.header-menu {
    padding-left: 12%;
    line-height: 4.5;
}

a.btn1 {
    position: relative;
    float: center;
    text-decoration: none;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
}

a.btn1::before {
    margin-bottom: 8px;
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a.btn1:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.btn2 {
    float: right;
    width: 104px;
    height: 40px;
    border: 1px solid rgb(14, 13, 13);
    border-radius: 40px;
    color: #23272a;
    font-size: 40px;
    position: relative;
    background-color: #fff;
    padding: center;
    margin-right: 20px;
    margin-top: 20px;
    font-size: large;
}

.btn2:hover {
    background-color: rgb(255, 255, 255);
    color: #5865f2;
    border-color: #5865f2;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(65, 64, 64);
}

.imgBg {
    background-image: url("discordBg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    filter: blur(-52px);
}

.mainText {
    color: whitesmoke;
    font-family: "ABC Ginto Nord", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    padding-top: 200px;
}

.subText {
    color: whitesmoke;
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    padding-top: -150px;
    padding-bottom: 150px;
}

.lowerBtns {
    padding-left: 350px;
}

.btn3 {
    float: right;
    width: 300px;
    height: 55px;
    font-weight: 500;
    border: 0.01px solid rgb(248, 243, 243);
    border-radius: 28px;
    font-size: 20px;
    color: rgb(248, 243, 243);
    position: relative;
    background-color: rgb(7, 7, 7);
    padding: center;
    margin-right: 350px;
    margin-top: -120px;
}

.btn3:hover {
    background-color: rgb(255, 255, 255);
    color: #5865f2;
    border-color: #5865f2;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(65, 64, 64);
}

.btn4 {
    float: left;
    width: 300px;
    font-weight: 500;
    height: 55px;
    border: 0.01px solid rgb(255, 255, 255);
    border-radius: 28px;
    font-size: 20px;
    color: red;
    position: relative;
    background-color: rgb(248, 243, 243);
    padding: center;
    margin-left: 10px;
    margin-top: -120px;
}

.btn4:hover {
    background-color: rgb(255, 255, 255);
    color: #5865f2;
    border-color: #5865f2;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(65, 64, 64);
}
