.topnav {
  overflow: hidden;
  background-color: rgb(250, 249, 249);
  align-items: center;
  border: 0.5px solid rgb(255, 255, 255);
}

.topnav a {
  float: left;
  display: block;
  color: rgb(156, 141, 0);
  text-align: center;
  padding: 18px 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 22px;
}

.topnav a:hover {
  background-color: whitesmoke;
  color: rgb(255, 70, 3);
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  float: left;
  padding: 6px;
  border: 1px solid #cfbcbc;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 16px;
  margin-right: 100px;
  font-size: 18px;
}

@media screen and (max-width: 600px) {

  .topnav a,
  .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 16px;
  }

  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

.mainHeading {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 65px;
  color: #160101;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 250px;
  padding-right: 450px;
  padding-bottom: 30px;
  padding-left: 105px;
  display: flex;
  align-items: center;
}

.mainHeading::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.mainHeading:hover::after {
  transform-origin: left;
  color: #d9d9d9;
  transform: scaleX(1);
}

.subHeading1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: coral;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 250px;
  padding-right: 600px;
  padding-bottom: 300px;
  padding-left: 100px;
  display: flex;
  align-items: left;
}

.subHeading2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: coral;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 450px;
  padding-right: 600px;
  padding-bottom: 300px;
  padding-left: 100px;
  display: flex;
  align-items: left;
}

a.logo {
  transition: transform .1s;
  margin: 0 0;
  padding-top: 25px;
  box-shadow: none;
}

a.logo:hover {
  transform: scale(1.2);
  color: rgb(173, 68, 94);
  background-color: rgb(245, 240, 240);
}

a.btn-an {
  display: inline-block;
  position: relative;
  color: coral;
}

a.btn-an::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: coral;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a.btn-an:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

input.search {
  border-radius: 5px;
}

body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("bg.jpg");
  height: 93%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}